#timerContainer {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  width: 100%;
  margin: auto;
  min-height: 60px;
  position:  fixed;
}

.timer {
  width: 200px;
  padding: 20px 0;
  font-size: 24px;
  margin: auto;
  text-align: center;
  color: #fff;
  background: #A90000;
}

body{
  height: 1000000vh;
  background-color: black;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  color: inherit;
  background-color: inherit;
}
